{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <title>Rishabh Shukla</title>

  <link href="{% static 'base/main.3f6952e4.css' %}" rel="stylesheet">

</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>
  <!-- Add your content of header -->
  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href=".." title="">01 : Home</a></li>
            <li><a href="./works" title="">02 : Works</a></li>
            <li><a href="./about" title="">03 : About me</a></li>
            <li><a href="./contact" title="">04 : Contact</a></li>
            <li><a href="{% static 'base/Resume.pdf' %}" target="_blank" rel="noopener noreferrer" title="">05 : Resume</a></li>
          </ul>


        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Origin</h3>
                  <p>I was born and raised in northern India and have been dwelling around this region for the past few
                    decades.</p>
                  <h3>Interests </h3>
                  <p>A tad bit of computer science sprinkled with travelling, music and gaming in small doses.</p>
                  <h3>Philosophy</h3>
                  <p>I belive in being calm and composed when things get out of hand. If something unexpected
                    gives you pleasure it is probably worth checking out. Also, if you are still reading with font this small, I
                    commend you.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="{% static 'base/profileblack.jpg' %}" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script type="text/javascript" src="{% static 'base/main.70a66962.js' %}"></script>

</body>

</html>